DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5555
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
REDIS_HOST=valkey
REDIS_PORT=6379
NODE_ENV=development
HOST=localhost
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=geyao1Shooxiquahfu3aiBilizooshaishich5du7chavu
JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
